/Desktop/IntegritySoftware/nbproject/private/
/Desktop/IntegritySoftware/build/
/Desktop/IntegritySoftware/dist/
/Webservice/node_modules/
/Webservice/dist/
/Web App/integritySoftWeb/Apps/__pycache__
/Web App/integritySoftWeb/Apps/WebPage/__pycache__
/Web App/integritySoftWeb/Apps/WebPage/migrations/__pycache__
/Web App/integritySoftWeb/integritySoftWeb/__pycache__
