#titleBackground {
    -fx-background-image: url("images/titleBackground.png");
    -fx-background-repeat: stretch;
    }
    
#imgLogo {
    -fx-image: url("images/logo.jpg");
    
    }
.label {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

#titleBand{
    -fx-background-color: linear-gradient(from 20% 20% to 90% 90%,rgba(3, 74, 216, 1),rgba(170, 198, 254, 1));
}

