#titleBand{
    -fx-background-color: linear-gradient(from 20% 20% to 90% 90%,rgba(3, 74, 216, 1),rgba(170, 198, 254, 1));
}

#titleBackground{
    -fx-background-image: url("images/titleBackground.png");
    -fx-background-repeat: stretch; 
}
#imgLogo{
    -fx-image: url("images/logo.jpg");
}
#menuMantenedores{
    -fx-background-color: rgba(250,250,250,1);
    -fx-border-style: solid;
    -fx-border-width: 0 0.5 0 0;
    -fx-border-color: red black blue yellow;
}
#panContent{
    -fx-background-color: rgba(250,250,250,0);
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-border-radius: 5px;
}
#gridContent{
    -fx-background-image: url("images/contentBackground.png");
}
.menuItem{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: red blue black yellow;
}

.menuItemSelected{
    -fx-background-color: rgba(20, 158, 250, 0.84);
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: red blue black yellow;
}
.menuItem:hover {
    -fx-background-color: rgba(20, 158, 250, 0.84);
    -fx-scale-y: 1;
}

.menuItem:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}