.BoxButton{
    -fx-background-color: #ffffff;
}
#agendaButton{
    -fx-background-color: #2665da;
}
.sesionButton{
    -fx-background-color: #ffffff;
}
#imgLogo{
    -fx-image: url("images/logo.jpg");
}
#titleBackground{
    -fx-background-image: url("images/titleBackground.png");
    -fx-background-repeat: stretch; 
}
#titleBand{
    -fx-background-color: linear-gradient(from 20% 20% to 90% 90%,rgba(3, 74, 216, 1),rgba(170, 198, 254, 1));
}
