#carrusel img{
    height: 100vh;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
}


.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: rgb(61, 59, 59);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}



header{
    width: 100%;
    height: 380px;
    background: #fffbd5; 
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 97%, 0.61), hsla(0, 76%, 48%, 0.473)), url(../img/us.png);
    background: linear-gradient(to right, hsla(0, 0%, 97%, 0.61), hsla(0, 76%, 48%, 0.473)), url(../img/us.png); 

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: rgb(7, 7, 7);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.textos-header h1{
        font-size: 50px;
        color: rgb(250, 245, 245);
        font-weight: 400;

}
.textos-header h2{
    font-size: 50px;
    font-weight: 300;
    color: rgb(252, 247, 247);
    margin-bottom: 15px;
    
    
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    
}

.imagen-about-us{
    width: 48%;
    margin-right: 100px;
}

.sobre-nosotros .contenido-textos{
    width: 60%;
}

.contenido-textos h3{
    margin-bottom: 15px;
    
}


/*galeria*/

.portafolio {
background: white;
}

.galeria-port{
    display: flexbox ;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-sede{
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.row{
    display: flexbox;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

    
}



.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(175, 30%, 68%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #ffff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
} 




.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: rgb(196, 7, 7);
    display: flex;
    width: 35%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px;
 
    display: block;
    
}

.cards .card .contenido-texto-card{
    width: 100%;
    color: seashell;

}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}


.servicio-int{
    background-color: rgb(243, 240, 240);
    text-align: center;
    color: #424242;
    font-size: 20px;
    

}

.servicio-int h3{
    margin-left: 200px;
    font-size: 30px;
}
.servicio-cont{
    color: #ffffff;

    margin-left: 10px;
    
}


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.content-foo{
    text-align: center;

}
.content-foo h4{
    color: #fffbd5;
    border-bottom: 3px solid #f8f8f8;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}

.content-foo p{
    color: #fffbd5;

    
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin:  20px 0 0 0;
    color: #301919;
}

.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(rgb(241, 236, 236), rgb(177, 219, 177), rgb(11, 11, 12), 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}


form{
    color: #504f4f;
    background-color: white;
    padding: 30px;
    margin: auto;
    width: 700px;
    border-bottom: 3px;
    font-size: 25px;
}
.field{
    padding: 7px;
    width: 250px;
}

.contacto{
    text-align: center;
    color: #424242;
    font-size: 20px;
}

.contacto h3{
    font-size: 35px;
    
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}